/* ## Typographical Elements
--------------------------------------------- */
@font-face {
    font-family: 'brandon_textregular';
    src: url('fonts/hvd_fonts_-_brandontext-regular-webfont.eot');
    src: url('fonts/hvd_fonts_-_brandontext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hvd_fonts_-_brandontext-regular-webfont.woff2') format('woff2'),
         url('fonts/hvd_fonts_-_brandontext-regular-webfont.woff') format('woff');
   /* font-weight: normal;
    font-style: normal;
*/
}
@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('fonts/brandon-grotesque-medium-587bd623e472a-webfont.eot');
    src: url('fonts/brandon-grotesque-medium-587bd623e472a-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon-grotesque-medium-587bd623e472a-webfont.woff2') format('woff2'),
         url('fonts/brandon-grotesque-medium-587bd623e472a-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('fonts/brandon-grotesque-bold-587bd6400afd0-webfont.eot');
    src: url('fonts/brandon-grotesque-bold-587bd6400afd0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon-grotesque-bold-587bd6400afd0-webfont.woff2') format('woff2'),
         url('fonts/brandon-grotesque-bold-587bd6400afd0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'brandon_grotesquethin';
    src: url('fonts/brandon-grotesque-thin-587bd5b76cfba-webfont.eot');
    src: url('fonts/brandon-grotesque-thin-587bd5b76cfba-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon-grotesque-thin-587bd5b76cfba-webfont.woff2') format('woff2'),
         url('fonts/brandon-grotesque-thin-587bd5b76cfba-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('fonts/brandon_reg-webfont.eot');
    src: url('fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_reg-webfont.woff2') format('woff2'),
         url('fonts/brandon_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesqueblack';
    src: url(' fonts/brandon-grotesque-black-58a8a3e824392-webfont.eot');
    src: url('fonts/brandon-grotesque-black-58a8a3e824392-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon-grotesque-black-58a8a3e824392-webfont.woff2') format('woff2'),
         url('fonts/brandon-grotesque-black-58a8a3e824392-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'brandon_grotesqueRgIt';
    src: url('fonts/brandon-grotesque-regular-italic-58a8a456c4724-webfont.eot');
    src: url('fonts/brandon-grotesque-regular-italic-58a8a456c4724-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon-grotesque-regular-italic-58a8a456c4724-webfont.woff2') format('woff2'),
         url('fonts/brandon-grotesque-regular-italic-58a8a456c4724-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'Brandon_Grotesque_Light';
	src: url('fonts/BrandonGrotesque-Light.eot');
	src: url('fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-Light.woff2') format('woff2'),
		url('fonts/BrandonGrotesque-Light.woff') format('woff'),
		url('fonts/BrandonGrotesque-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Brandon_Grotesque_Regitalic';
	src: url('fonts/brandon-grotesque-regular-italic-58a8a456c4724-webfont.eot');
	src: url('fonts/brandon-grotesque-regular-italic-58a8a456c4724-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/brandon-grotesque-regular-italic-58a8a456c4724-webfont.woff2') format('woff2'),
		url('fonts/brandon-grotesque-regular-italic-58a8a456c4724-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* ## general
--------------------------------------------- */
.color-blue-tienda{
  background: #1A5093;
}
.t-0{
  top:0;
}
.tr-0{
  top: 0;
  right: 0
}
.b-0{
  bottom: 0;
}

.br-0{
  bottom: 0;
  right: 0;
}


/* ## Animation
--------------------------------------------- */
.add-animation {
     transform: translate3D(0px, 150px, 0px);
     -webkit-transform: translate3D(0px, 150px, 0px);
     opacity: 0;
}
 .add-animation.animation-1 {
     -webkit-transition: all 0.3s ease-out 0.15s;
     -moz-transition: all 0.3s ease-out 0.15s;
     -o-transition: all 0.3s ease-out 0.15s;
     -ms-transition: all 0.3s ease-out 0.15s;
     transition: all 0.3s ease-out 0.15s;
}
 .add-animation.animation-2 {
     -webkit-transition: all 0.3s ease-out 0.3s;
     -moz-transition: all 0.3s ease-out 0.3s;
     -o-transition: all 0.3s ease-out 0.3s;
     -ms-transition: all 0.3s ease-out 0.3s;
     transition: all 0.3s ease-out 0.3s;
}
 .add-animation.animation-3 {
     -webkit-transition: all 0.3s ease-out 0.45s;
     -moz-transition: all 0.3s ease-out 0.45s;
     -o-transition: all 0.3s ease-out 0.45s;
     -ms-transition: all 0.3s ease-out 0.45s;
     transition: all 0.3s ease-out 0.45s;
}
 .add-animation.animation-4 {
     -webkit-transition: all 0.3s ease-out 0.6s;
     -moz-transition: all 0.3s ease-out 0.6s;
     -o-transition: all 0.3s ease-out 0.6s;
     -ms-transition: all 0.3s ease-out 0.6s;
     transition: all 0.3s ease-out 0.6s;
}
 .add-animation.animate {
     transform: translate3D(0px, 0px, 0px);
     -webkit-transform: translate3D(0px, 0px, 0px);
     opacity: 1;
}
 .add-animation.animate.open {
     transform: none;
     transition: none;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
}

@keyframes wobble {
  0% {transform: translateX(0%);}
  15% {transform: translateX(-25%) rotate(-5deg);}
  30% {transform: translateX(20%) rotate(3deg);}
  45% {transform: translateX(-15%) rotate(-3deg);}
  60% {transform: translateX(10%) rotate(2deg);}
  75% {transform: translateX(-5%) rotate(-1deg);}
  100% {transform: translateX(0%);}
}
.wobble {
  animation-name: wobble;
}
@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}


/* ## Custom
--------------------------------------------- */
.ldn-dav{
  overflow: hidden;
  background: #F4F4F4;
}
.form-ldn-dav{
  background:url('../img/hero-dav.jpg');
  position: relative;
  background-size: cover;
}
.form-ldn-dav::before{
  content:'';
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.1);
  z-index: 0;
  position: absolute;
}
.form-ldn-dav .form-check{
  font-size: 14px;
  font-family: 'Brandon_Grotesque_Light';
  line-height: 1;
  color: #4A4A4A;
  margin: 1rem 0;
}
.block-form-ldn-dav{
  padding: 1rem;
  background:rgba(255,255,255,.5);
  margin-top: -2rem;
  position: relative;
  margin-bottom: 5rem;

}
.block-form-ldn-dav form input, 
.block-form-ldn-dav form select{
  border-radius: 5px;
  margin-bottom: 0.125rem;
  border-color: #DDE3E8;
  height: 45px !important;
}
.block-form-ldn-dav form select{
  font-family: 'brandon_textregular';
  text-transform: uppercase;
  font-size: 12px;
  color:#989898;
}
.block-form-ldn-dav form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'brandon_textregular';
  text-transform: uppercase;
  font-size: 12px;
  color:#989898;
}
.block-form-ldn-dav form input::-moz-placeholder { /* Firefox 19+ */
  font-family: 'brandon_textregular';
  text-transform: uppercase;
  font-size: 12px;
  color:#989898;
}
.block-form-ldn-dav form input:-ms-input-placeholder { /* IE 10+ */
  font-family: 'brandon_textregular';
  text-transform: uppercase;
  font-size: 12px;
  color:#989898;
}
.block-form-ldn-dav form input:-moz-placeholder { /* Firefox 18- */
  font-family: 'brandon_textregular';
  text-transform: uppercase;
  font-size: 12px;
  color:#989898;
}
.block-form-ldn-dav form .form-check-input{
  margin-top: -1rem;
  margin-left: 5px;
}
.block-form-ldn-dav form .btn-ldn-dav{
  font-family: 'brandon_textregular';
  text-transform: uppercase;
  font-size: 14px;
  color:#ffffff;
  background: #2E8CFF;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.block-copy-ldn-dav{
  padding: 2rem 1rem 2rem 2rem;
  color: white;
  line-height: 1.1;
  font-size: 33px;
  font-family: 'brandon_grotesquethin';
    margin-top: 2rem;
  position: relative;
}
.title-form-ldn-dav{
  color: #4A4A4A;
  font-size: 20px;
  line-height: 1;
  font-family: 'Brandon_Grotesque_Light';
  margin-bottom: 1rem;
}
.title-form-ldn-dav span{
  font-family: 'brandon_grotesquemedium';
}
.ldn-dav-destacado{
  background: white;
  padding: 1.5rem 1rem;
  position: absolute;
  z-index: 1;
  bottom: -4.5rem;
  font-family: 'Brandon_Grotesque_Light';
  color: #1A5093;
  font-size: 27px;
  line-height: 1.1;

}
.ldn-dav-destacado::before{
  width: 129px;
  height: 140px;
  content: '';
  background: url('../img/descuento.svg') no-repeat;
  position: absolute;
  left: 44%;
  top: -120px;
}
.ldn-dav-destacado span{
  font-family: 'brandon_grotesquemedium';
}
.cat-ldn-dav{
  position: relative;
}
.cat-ldn-dav .card{
  min-height: 450px;
}
.cat-ldn-dav::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 70%;
  background: #1A5093;
  z-index: 0;
  top: 0;
  left: 0;
}
.title-cat-ldn-dav{
  padding-top: 6rem;
  font-family: 'Brandon_Grotesque_Light';
  font-size: 35px;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
  color: white;
}
.card-title.card-ldn-dav{
  font-family: 'brandon_grotesquemedium';
  font-size: 27px;
  color: #1A5093;
}
.card-text.card-ldn-dav{
  font-family: 'Brandon_Grotesque_Light';
  font-size: 18px;
  color: #1A5093;
  line-height: 1.1;
}
.map-ldn-dav{
margin:3rem 0;
}
.info-map-ldn-dav{
  background: white;
}

/* BREAK POINTS  ============================= */
@media (min-width: 991.99px) {

}
@media (max-width: 991.99px) {
 
}


@media (max-width: 575.98px) {
  
}
